body {
    position: relative;
    background-color: #dfdfdf;
    font-family: "MuseoSans", sans-serif;
    color: #dac65a;
    width: 30%;
    left: 35%;
    margin: 0;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 900px) {
    body {
      width: 60%; /* The width is 100%, when the viewport is 800px or smaller */
      left: 20%;
    }
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 450px) {
    body {
      width: 90%; /* The width is 100%, when the viewport is 800px or smaller */
      left: 5%;
    }
}

button {
    margin-top: 3px;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    border: solid 0px #dac65a;
    border-radius: 5rem;
    background-color: #dac65a;
    color: white;
    min-width: 5rem;
}

button:hover {
    cursor: pointer;
}

input, select {
    margin-top: 3px;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    border: solid 0px #dac65a;
    border-bottom: solid 2px #dac65a;
    background-color: #dfdfdf;
}

label {
    height: min-content;
    font-size: xx-small;
    color:gray;
}

.vbox-center {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.vbox-stretch {
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.vbox-stretch > * {
    margin-bottom: 5px;
}

.vstretch {
    width: 100%;
}

.hbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* line-height: 1.5rem;
    height: 1.5rem; */
}

.toggle-button-right {
    width: 3rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border: solid 2px #dac65a;
    background-color: #dfdfdf;
    color: #404040;
}

.toggle-button-left {
    width: 3rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border: solid 2px #dac65a;
    background-color: #dfdfdf;
    color: #404040;
}

.toggle-button-selected {
    font-weight: bold;
    color: white;
    background-color: #dac65a;
}

.loader {
    border: 0.2rem solid #f3f3f3; /* Light grey */
    border-top: 0.2rem solid #dac65a;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.payment {
    border: solid 3px black;
    border-radius: 0.2rem;
}

.center-text {
    display: flex;
    align-items:center;
    justify-content:center;
  }